

.bg {
    background-color: linear-gradient(230deg, #e9e8e88f 0%, #dbd7d796 50%);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0
}

/* body::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(/img/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
}
@keyframes grain {
    0%, 100% { transform:translate(0, 0); }
    10% { transform:translate(-5%, -10%); }
    20% { transform:translate(-15%, 5%); }
    30% { transform:translate(7%, -25%); }
    40% { transform:translate(-5%, 25%); }
    50% { transform:translate(-15%, 10%); }
    60% { transform:translate(15%, 0%); }
    70% { transform:translate(0%, 15%); }
    80% { transform:translate(3%, 35%); }
    90% { transform:translate(-10%, 10%); }
  } */

footer,
header,
nav,
section {
    display: block
}

a {
    background-color: red
}

a:active,
a:hover {
    outline-width: 2
} 

h1 {
    font-size: 2em;
    margin: .70em 0
}

img {
    border-style: none
}



html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

@-ms-viewport {
    width: device-width
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

h1,
h3 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-bottom: .5rem
}

ul {
    margin-top: 0
}

img {
    vertical-align: middle
}

.margin-left {
    margin-left: auto !important
}

.nav-list {
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav-list__block {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex: 1
}

.nav-list__item {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0
}

a {
    background-color: transparent;
    box-sizing: border-box;
    color: #3197d6;
    cursor: pointer;
    text-decoration: none;
    transition: none
}

a:hover {
    text-decoration: underline
}

a:active,
a:hover {
    color: #f1717c;
    outline-width: 0
} 
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-width: 2em;
} 






@font-face {
    font-family: 'Fauna One', serif;
}

@font-face {
    font-family: 'Playfair Display', serif;
}

body,
html {
    font-family: 'Fauna One', serif;
    background: #d8d7d73a;
    overscroll-behavior: none;
    overflow-x: hidden
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #656270;
}

a,
li,
p {
    font-family: 'Fauna One', serif;
}

::selection {
    background: #fa9797;
    color: #9b0000
}

.js-bounce-in-home {
    opacity: 0
}



.g-nav {
    position: fixed;
    width: 100%;
    z-index: 1040;
    background-image: linear-gradient(240deg, #f3f1f1e5 30%, #e4e1e1e3 85%);
    opacity: 1;
} 

.c-nav-list {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    max-width: 90%
}

@media (min-width:1600px) {
    .c-nav-list {
        max-width: 1600px
    }
}

@media (min-width:768px) {
    .c-nav-list__item+.c-nav-list__item {
        margin-left: 10px
    }
}

.nav-link {
    padding: 1.5em 1.75em;
    display: block;
    color: #232320be;
    font-size: 1.1em;
    transition: color .2s linear;
    position: relative
}

@media (min-width:1100px) {
    .nav-link {
        padding: 1.5em 2em
    }
}

.nav-link {
    padding-left: 0
}

.nav-link span {
    position: relative;
    z-index: 10
}

.nav-link span:before {
    z-index: 10;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 2px;
    left: 0;
    display: block;
    background: #fb0202c4;
    transform: translate3d(0, 5px, 0);
    transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
    opacity: 0
}

.nav-link:hover span:before {
    opacity: 0;
    transform: translateZ(0) scale3d(1.1, 1.1, 1.1) rotate(-2deg)
}

.nav-link:active span:after {
    opacity: 0;
  
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #232320;
    text-decoration: none
}



.nav-link:hover span:after {
    opacity: 0;
}


.c-hero {
    overflow: hidden;
    position: relative;
    z-index: 1000;
    padding-top: 95px
}

.c-hero__title {
    color: #232320be;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    letter-spacing: -0.5px;
    margin: 0;
    transition: all .2s ease-in-out;
    padding-top: .25em;
    
}

@media (min-width:1000px) {
    .c-hero__title {
        font-size: 4.5em
    }
}

@media (min-width:1600px) {
    .c-hero__title {
        font-size: 6.5em;
        letter-spacing: -2px
    }
}

.c-hero__box {
    padding: 0;
    max-width: 100%;
    margin: 0 auto
}

@media (min-width:544px) {
    .c-hero__box {
        padding: 2em 0 0
    }
}

@media (min-width:1000px) {
    .c-hero__box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (min-width:1300px) {
    .c-hero__box {
        padding: 3em 3em 3em 0
    }
}

@media (min-width:1700px) {
    .c-hero__box {
        padding: 140px 6em 270px;
        max-width: 1600px
    }
}

.c-footer,
.c-footer__content {
    position: relative;
    z-index: 1000
}

.c-footer__content {
    max-width: 90%;
    margin: 0 auto;
    padding: 5em 0
}

@media (min-width:992px) {
    .c-footer__content {
        padding: 3em 0;
        max-width: 790px
    }
}

.c-footer__title {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -.5px;
    color: #232320;
    position: relative;
    z-index: 100;
    text-align: center
}

@media (min-width:992px) {
    .c-footer__title {
        font-size: 60px
    }
}

.g_text {
    color: #656270;
    font-size: 20px;
    line-height: 160%;
    margin-top: 2em;
    position: relative;
    z-index: 100;
    text-align: center
}

.contact-link {
    color: #656270;
    display: inline-block;
    transition: all .2s ease-in-out
}

.contact-link,
.contact-link span {
    position: relative;
    z-index: 10
}

.contact-link:before {
    z-index: 5;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -3px;
    height: 3px;
    left: 0;
    display: block;
    background-image: linear-gradient(90deg, rgba(249, 249, 249, 0.459) 0%, rgb(251, 190, 190) 47%, rgba(251, 97, 97, 0.815) 100%);
    transition: all .2s ease-in-out;
    transform: rotate(-2deg)
}

.contact-link:hover {
    color: #232320;
    text-decoration: none
}

.contact-link:hover:before {
    height: 10px
}

.g-info__hero {
    padding: 3em 3em 3em 3em;
    max-width: 1000px;
    width: 90%;
    margin: auto auto;
    display: block;
    border: thin;
    
    justify-content: center;
}

@media (min-width:544px) {
    .g-info__hero {
        padding: 8em 0 5em
    }
}

@media (min-width:1200px) {
    .g-info__hero {
        padding: 0em 0 0em;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.g-info__hero-col {
    width: 100%;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   
}

.g-info__hero-col:nth-child(2) {
    max-width: 100%;
}

@media (min-width:1200px) {
    .g-info__hero-col:nth-child(2) {
        max-width: 100%;
    }
}








.g-wrapper {
    padding: 2em;
    margin: auto;
    /* border-style: dotted; */
    max-width: 1000px;
    }


.shadowgd {
  color: rgb(231, 229, 229);
  text-shadow:
  3px 2px 2px rgba(131, 131, 131, 0.589), 0px -1px 3px rgba(141, 71, 71, 0.5),-3px 0px 2px rgba(246, 3, 3, 0.589);
  margin:0;
  text-align: center;
  /* -ms-transform: rotate(-20deg);
  transform: rotate(-20deg); */
}

.gwdfont {
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: clamp(3rem, 2rem + 3vw, 8rem);
line-height: 0.9em;
letter-spacing: 0.1em;
text-align: center;

/* 
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7); */
}


.wdfont {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: clamp(3rem, 2rem + 3vw, 8rem);
    margin: 0;
    
}

.webd{
    color: rgb(231, 229, 229);
    text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
animation:  chromaticMove 4500ms ease infinite,pulse ease 300ms  infinite;
}

@keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
}
@keyframes chromaticMove { 
    0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgba(52, 251, 12, 1);}
    50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgba(52, 251, 12, 1);}
    100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgba(52, 251, 12, 1);}
}



.responsive {
    max-width: 100%;
    height: auto;
  }




/* Link Style*/
.link5 a {
    color: #232320;
    font-size: 1.1em; 
    padding: 0 .25em .5em 1em;
    background: linear-gradient(358deg, rgba(248, 90, 90, 0.801) 0%, rgba(252,252,252,0) 10%);
	background-size: 0% 100%;
	background-repeat: no-repeat;
    text-decoration: none; 
    /* transition: background-size .2s ease; */
    transition: background-size .2s ease-in-out;/* 
    transform: rotate(8deg) */
}

@media (hover: hover) {
    .link5 a:hover{
        background-size: 100% 100%;
        cursor: pointer;
    }
  }



@media (min-width:768px) {
    .c-nav-list__item+.c-nav-list__item {
        margin-left: 10px
    }
}

/* grid */
.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.fw4 {
    font-weight: 400;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w-100 {
    width: 100%;
}

.black-90 {
    color: rgba(0, 0, 0, .9);
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.pb3 {
    padding-bottom: 1rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: .5rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .pa2-ns {
        padding: .5rem;
    }

    .ph0-ns {
        padding-left: 0;
        padding-right: 0;
    }

    .f4-ns {
        font-size: 1.25rem;
    }

 
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
   
}

/* footer */
.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.gray {
    color: #777;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mt4 {
    margin-top: 2rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }
}